<!DOCTYPE html>
<html>
  <head>
    <title>我喝茶|在路上</title>
    <meta charset='UTF-8' content='text/html' http-equiv='content-type'>
    <link href='/images/favicon.ico' rel='shortcut icon'>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.3.0.3.js"></script>
    <link href="/stylesheets/bootstrap.min.3.0.3.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/stylesheets/application.scss" media="screen, projection" rel="stylesheet" type="text/css">
  </head>
  <body style='background:#f0f0f0;'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-10 col-sm-offset-1'>
          <script src="/javascripts/shop_cart.js"></script>
          <h1>购物车 - 我喝茶</h1>
          <a class='btn btn-default right' href='/home' style='margin-top:-40px;'>返回home</a>
          <table class='table table-striped'>
            <thead>
              <tr>
                <th style='width:120px'>图片</th>
                <th>名称</th>
                <th style='width:120px;'>价格</th>
                <th style='width:120px;'>净重</th>
                <th style='width:150px;'>数量</th>
                <th style='width:50px;'>小计</th>
              </tr>
            </thead>
            <tbody>
              <tr class='success'>
                <td></td>
                <td></td>
                <td colspan='2' style='text-align: right;vertical-align:middle;'>
                  已选购
                  <span class='total-quantity' style='font-size:18px;'>0</span>
                  件商品
                </td>
                <td style='vertical-align:middle;'>
                  合计￥
                  <span class='total-amount' style='font-size:18px;'>0</span>
                </td>
                <td>
                  <form accept-charset='UTF-8' action='/transactions/checkout' class='form-inline col-sm-12' method='post' role='form'>
                    <input class='hidden' id='quantity' name='quantity' type='hidden' value='0'>
                    <input class='hidden' id='amount' name='amount' type='hidden' value='0'>
                    <input class='hidden' id='order' name='order' type='hidden' value='0'>
                    <input class='btn btn-default btn-success' name='commit' type='submit' value='结账'>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='row center'>
        <div class='footer'>微信号: sha-aichun</div>
        <div class='footer'>&copy; 2014 wohecha.cn</div>
      </div>
    </div>
  </body>
</html>
